{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" />
     <script src="{% static 'layui/layui.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.5/vue.global.js"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">住院管理系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;">
          <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
          tester
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/" onclick="changePage(this); return false;">Sign out</a></dd>
        </dl>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
     <ul class="layui-nav layui-nav-tree" lay-filter="test">
         <li class="layui-nav-item">
    <a href="/main/" onclick="changePage(this); return false;">首页</a>
  </li>
  <li class="layui-nav-item">
    <a href="/patientInHospital/" onclick="changePage(this); return false;">住院病人</a>
  </li>
  <li class="layui-nav-item">
    <a href="/patientOutHospital/" onclick="changePage(this); return false;">出院历史</a>
  </li>
  <li class="layui-nav-item">
    <a href="/in/" onclick="changePage(this); return false;">住院登记</a>
  </li>
  <li class="layui-nav-item">
    <a href="/out/" onclick="changePage(this); return false;">出院办理</a>
  </li>
</ul>
    </div>
  </div>
    <div class="layui-body" id="in">
        <img class="unselectable-image" style="width: 100%;height: 100%;position: absolute;opacity: 0.6" src="{% static 'bg.jpg' %}" alt="Background Image"/>
<div class="layui-container">
    <table id="ID-table-demo-init" lay-filter="patientTable"></table>
    <!-- 分页容器 -->

</div>
    </div>
  <div class="layui-footer" style="display: flex;justify-content: center">
    <!-- 底部固定区域 -->
<div id="paginationContainer"></div>
  </div>
</div>

<style>
        .unselectable-image {
        -webkit-user-select: none; /* Chrome, Safari, Opera */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
        user-select: none; /* Non-prefixed version, currently supported by some browsers */

        /* 阻止图像被拖动 */
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
</style>
<script src="//cdn.staticfile.org/layui/2.9.10/layui.js"></script>
<script>
//JS
function changePage(link) {
  var href = link.getAttribute('href');
  location.href = href;
}
layui.use(['table', 'laypage'], function () {
    var table = layui.table;
    var laypage = layui.laypage;

    var currentPage = 1; // 当前页
    var pageSize = 10; // 每页显示条数

    function renderTable(page = 1, size = 10) {
        table.render({
            elem: '#ID-table-demo-init',
            cols: [[
                { field: 'id', title: 'ID', sort: true },
                { field: 'username', title: '姓名' },
                { field: 'age', title: '年龄', sort: true },
                { field: 'gender', title: '性别' },
                { field: 'IDcard', title: '身份证号' },
                { field: 'timeInHospital', title: '住院时间' },
                { field: 'timeOutHospital', title: '出院时间' },
            ]],
            url: '/getPatientOutHospital/', // 后端数据接口
            method: 'get',
            where: { // 请求参数
                'page': page,
                'pageSize': size,
            },
            page: false, // 禁用layui自带的分页，因为我们自定义分页
            limit: size, // 每页显示的数量
            limits: [10, 20, 30], // 每页显示数量的选择项
            text: {
                none: '暂无相关数据'
            },
            request: {
                pageName: 'page', // 页码参数名
                limitName: 'pageSize', // 每页数量参数名
            },
            response: {
                statusName: 'code', // 规定数据状态的字段名称
                statusCode: 200, // 规定成功的状态码
                countName: 'total', // 数据总数的字段名称
                dataName: 'data', // 数据列表的字段名称
            },
            done: function(res, curr, count) {
                // 分页组件渲染
                laypage.render({
                    elem: 'paginationContainer', // 分页容器的ID
                    count: res.total, // 总条数
                    limit: pageSize, // 每页显示的条数
                    curr: curr, // 当前页
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                    jump: function(obj, first) {
                        // 首次不执行
                        if (!first) {
                            currentPage = obj.curr;
                            pageSize = obj.limit;
                            renderTable(currentPage, pageSize);
                        }
                    }
                });
            }
        });
    }

    // 首次加载表格
    renderTable(currentPage, pageSize);
});

</script>


</body>
</html>